


#js_goToTop{    text-align: center;
    background: rgba(0,0,0,.4);
    position: fixed;
    z-index: 99999;
    bottom: 0.5rem;
    right: 12.16rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
opacity: 0;}
#js_goToTop.js-sticky{opacity: 1;}
    #js_goToTop::before{
        content: "";
        position: relative;
        display: inline-block;
        transform: rotate(-45deg);
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        padding:1rem;
        margin: 2rem 1.5rem 1rem 1.5rem;
    }

    footer{padding: 4rem 18rem 2rem 6rem;text-align: center;font-size: 1.4rem;color:#313445}

    footer{
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      
    }